

<ion-content [fullscreen]="true"> 
  <ion-header class="alinear">  
  <app-boton-retroceso></app-boton-retroceso>         
  <ion-title>Comienza tu lectura</ion-title>           
</ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../../assets/img/bookreader/neuromancerdescrip.jpg" />
    <ion-card-header>
      <ion-card-title>Neuromancer</ion-card-title>
      <ion-card-subtitle>William Gibson</ion-card-subtitle>
     
    </ion-card-header>
  
    <ion-card-content>
      Un futuro invadido por microprocesadores, en el que la información es la materia prima. Vaqueros como Henry Dorrett se ganan la vida hurtando información, 
      traspasando defensas electrónicas. En este espeluznante y sombrío futuro la mayor parte de las ciudades son un vertedero atómico
      donde una persona es la suma de sus vicios.
    </ion-card-content>
  </ion-card>

  <div class="chip-container">
    <ion-chip class="custom-chip">
      <ion-avatar>
        <ion-icon name="arrow-up"></ion-icon>
      </ion-avatar>
      <ion-label>Desliza hacia arriba para leer</ion-label>
    </ion-chip>
  </div>

  <div class="contenido-libro">
    <h1>CAPÍTULO 1</h1>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus fuga ullam a doloribus ex voluptates 
    fugit quam molestiae obcaecati reprehenderit minima mollitia nobis, nesciunt quasi vero dicta incidunt 
    dignissimos amet!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque explicabo error iste! Labore 
    voluptatem facilis maiores vero nam magni quidem doloremque impedit error eius blanditiis exercitationem, 
    sint eveniet unde aut?

  </div>

</ion-content>
