ion-grid, ion-row, ion-col {
    color: white;
}

ion-grid {
    border: 1px solid #ddd;
    max-width: 90%;
    margin: 0 auto;
}


ion-col {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;    
}

.columna {
    flex: 1 1 15%;
}

.id-col, icono-col {
    flex: 0.5 1 10%
}





