.alinear {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    flex-direction: row;
    background-color: #BF026D;
    height: 60px;
  }
  
  ion-title {
    text-align: center;
    font-weight: bold;
  }

  h3 {
    color: aliceblue;
    font-weight: bold;
  }

  .list-content {    
    margin: 20%  auto;
    width: 90%; 
    border-radius: 15px;
}

.rounded-list {
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #BF026D;
}

.custom-list {
    --background: #BF026D;
    color: white;
}