

<ion-content>
  <ion-header class="alinear">  
    <app-boton-retroceso></app-boton-retroceso>         
    <ion-title>Visítanos</ion-title>           
  </ion-header>
  <p></p>
  <p></p>
  <p></p>

 
  <h3>Ubicados en: </h3>
  <iframe id="mapFrame" width="100%" height="400px" style="border:0;" allowfullscreen loading="lazy"></iframe>  
  
  <div class="list-content">

    <ion-list style="background-color: #BF026D;" class="rounded-list">
      <ion-item  class="custom-list">
        <ion-icon aria-hidden="true" name="checkmark-outline" slot="start" color="light"></ion-icon>
        <ion-label>Dirección: Canal Murray 334</ion-label>
      </ion-item>

      <ion-item  class="custom-list">
        <ion-icon aria-hidden="true" name="checkmark-outline" slot="start" color="light"></ion-icon>
        <ion-label>Ciudad: Viña del Mar</ion-label>
      </ion-item>

      <ion-item class="custom-list">
        <ion-icon aria-hidden="true" name="checkmark-outline" slot="start" color="light"></ion-icon>
        <ion-label>Correo: a.vilchezduocuc.cl</ion-label>
      </ion-item>  

      <ion-item class="custom-list">
        <ion-icon aria-hidden="true" name="checkmark-outline" slot="start" color="light"></ion-icon>
        <ion-label>Fono: (+56 9)83591933</ion-label>
      </ion-item>      
      
      

    </ion-list>


    
   
</div>

 
  
  
</ion-content>
