<ion-content [fullscreen]="true" class="login-page">
  <div class="login-container"> 

    <!-- Imagen del logo -->
    <div class="log">
      
     <!--Logo para animación-->
     <img src="../../assets/img/logo/log.png" class="logo">
    </div>

    <!--TARJETA-->
    <ion-card class="login-tarjeta">   
    <ion-card-content>
     
      <!--Usuario-->
      <ion-item class="input-item">
        <ion-label position="floating" color="primary">Usuario</ion-label>
        <ion-input type="email" [(ngModel)]="usuario" name="usuario"></ion-input>
      </ion-item>

      <!--Contraseña-->
      <ion-item class="input-item">
        <ion-label position="floating" color="primary">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>

      <!-- Boton Login-->
      <!--Sólo a modo de prueba para funcionamiento de Tabs-->
    <ion-button  expand="block" fill="solid" shape="round" class="login-button">Iniciar sesión</ion-button> <!--(click)="iniciarSesion()"-->
    <ion-button (click)="registrar()" expand="block" fill="outline" shape="round" class="boton-registro">Registrarse</ion-button>
    <!--Olvidó la contraseña-->
    <ion-text color="medium" class="contrasena">
        <a href="#">Olvidaste tu contraseña</a>
    </ion-text>

    </ion-card-content>
  </ion-card>

 </div>   
</ion-content>
