ion-content {
    --background: none; /* Elimina cualquier fondo global */
    background-image: url('../../assets/img/fondo/fondologin.jpg');  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
 
}

.top-icon {
  display: none;
}



ion-card {
    background-color: #f9b5f8; /* Fondo semitransparente */
    backdrop-filter: blur(5px); /* Opcional: agrega un efecto de desenfoque detrás */
    box-shadow: none;
    border-radius: 10%;
    margin: 10%  auto;
    width: 90%; 
  }

  .log {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 20%;
  }

  .log img {
    width: 50%;
    animation: trasladarLogoIn 5s alternate;  
  }

  ion-card ion-input {
    --background: transparent; /* Fondo transparente */
    color: black; /* Color de texto en naranja oscuro */
  }

  ion-card input {
    background-color: transparent; /* Fondo transparente para navegadores que no usan variables CSS */
    color: black; /* Color de texto en naranja oscuro */
  }

  ion-card ion-label {
    --background: #f9b5f8; /* Fondo transparente */
    color: black /* Color de texto en naranja oscuro */
  }
  
  ion-card label {
    background-color: #f9b5f8; /* Fondo transparente para navegadores que no usan variables CSS */
    color: black; /* Color de texto en naranja oscuro */    
  }

  ion-card ion-item {
    --background: #f9b5f8; /* Fondo transparente */
    color: black; /* Color de texto en naranja oscuro */
  }

  ion-card ion-button.login-button {
    --background: black; /* Fondo en naranja oscuro */
    color: white; /* Texto en blanco para buen contraste */
  }

  ion-card ion-button.boton-registro {    
    text-transform: uppercase;
    color: black;
    margin-top: 10px;
    --border-color: black;
  }

.contrasena{
    text-align: center;
    margin-top: 10px;
    display: block;
    
}

 .contrasena a{
    color: black;   
 }

 @keyframes trasladarLogoIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
