/*.colorletra {
    color: blanchedalmond;
}
*/
h2 {
    color:black;
}
.alinear {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    flex-direction: row;
    background-color: #BF026D;
    height: 60px;
  }
  
  ion-title {
    text-align: center;
    font-weight: bold;
  }

  .search {
    margin-top: 50px;    
  }


.list-content {    
    margin: 20%  auto;
    width: 90%; 
    border-radius: 15px;
    background-color: #f49cce4a;
}

.rounded-list {
    margin-top: 30px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid hsl(327, 59%, 77%);
    
}
  
.custom-list {
    --background: hsl(327, 59%, 77%);
    color: black;
} 

.label-titulo {
    color: black;
    font-weight: bold;
    font-size: medium;
}



ion-item {
    margin: 10px 0;    
}

ion-input {
    margin-right: 10px;
}

.resultado-item ion-label {
    color: white;
}