
<ion-content [fullscreen]="true">

  <ion-header class="alinear">
    <app-boton-retrocesogenero></app-boton-retrocesogenero>   
    <ion-title>Libros distópicos</ion-title>
    
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let libro of libros">

      <!--PORTADA LIBRO-->
      <ion-thumbnail slot="start" style="width: 100px; height: 150px; border-radius: 10px;">
        <img [src]="libro.portada" sytle="border-radius: 20px;">
      </ion-thumbnail>

      <!--DATOS DEL LIBRO-->
      <ion-label>
        <h2 style="font-size: 20px; font-weight: bold;">{{ libro.titulo }}</h2>
        <p style="font-size: 16px;">Autor: {{ libro.autor }}</p>
        <p style="font-size: 14px;">Año: {{ libro.anio }}</p>
      </ion-label>
     
    </ion-item> 
  </ion-list>

 
</ion-content>
