
<ion-content [fullscreen]="true">

  <ion-header class="alinear">
    <app-logo-fabulas></app-logo-fabulas>    
    <ion-title>PERFIL</ion-title>
    <app-cerrar-sesion></app-cerrar-sesion>
  </ion-header>

  <div class="log">

    <!--Logo para animación-->
    <img src="../../assets/img/logo/logo.png">
   </div>

  <!--Interpolación--> 
 <!--<h1 class="titulo">Usuario: {{usuarioRecibido}} </h1>-->
  <h1 *ngIf="!usuarioRecibido" class="titulo">Usuario: {{usuario}} </h1>
  <h1 *ngIf="usuarioRecibido" class="titulo">Usuario: {{ usuarioAdministrador }} </h1>
 <!-- <h1 class="titulo">Usuario: {{ usuarioRecibido }} </h1>-->
  
  <!--<h1 class="titulo">Usuario: {{ usuario }} </h1>-->
  <div class="list-content">

    <ion-list style="background-color: #BF026D;" class="rounded-list">
      <ion-item routerLink="/camara" class="custom-list">
        <ion-icon aria-hidden="true" name="reader" slot="start" color="light"></ion-icon>
        <ion-label>Mis datos</ion-label>
      </ion-item>

      <ion-item routerLink="/preferidos" class="custom-list">
        <ion-icon aria-hidden="true" name="heart" slot="start" color="light"></ion-icon>
        <ion-label>Mis lecturas</ion-label>
      </ion-item>

      <ion-item routerLink="/autores" class="custom-list">
        <ion-icon aria-hidden="true" name="book" slot="start" color="light"></ion-icon>
        <ion-label>Lecturas recomendadas</ion-label>
      </ion-item>      
      
      <ion-item routerLink="/mapa" class="custom-list">
        <ion-icon aria-hidden="true" name="thumbs-up" slot="start" color="light"></ion-icon>
        <ion-label>Visítanos</ion-label>
      </ion-item>

    </ion-list>


    <ion-button *ngIf="usuarioRecibido" (click)="mantenedor()" expand="block" fill="solid" shape="round" class="btn-mantenedor">
      Administrar usuarios
    </ion-button>
   
</div>

</ion-content>
