/*
.flex-container {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;    
    width: 320px;
    gap: 10px;
    margin: 20px auto 0 auto;
    /*height: calc(100vh - 20px);
}



.flex-item {
    flex: 1 0 calc(33.33% - 10px);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    box-sizing: border-box;
    overflow: hidden;
   
}

.custom {
    
    width: 100% !important;
    max-width: 100%;
    height: 100% !important;   
    object-fit: fill;
    box-sizing: border-box;
        
}

.titulo {    
    font-size: xx-small;
    color: black;
    display: flex;
    justify-content: center;
}
*/


.alinear {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    flex-direction: row;
    background-color: #BF026D;
    height: 60px;
}

ion-title {
    text-align: center;
    font-weight: bold;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 80%;
    max-width: 900px;    
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    margin: 0 auto;
    //margin-top: 5px;
    margin-bottom: 10px;
}

.grid-item {
    width: 100%;
    height: 100%; //100%
    box-sizing: border-box;
    overflow: hidden;
    //position: relative;
    //background-color: #BF026D;
     
}

.grid-itemAgregar {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #BF026D;
     
}
.grid-item img {
    width: 100%;
    height: auto; //auto
    object-fit: contain;
    //position: absolute;
    //z-index: 1;    


}

.titulo {    
    font-size: xx-small;
    color: white;
    background-color: #BF026D;
    display: flex;
    justify-content: center;
    align-content: center;
}


.table-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
  }


.table-row {
    display: flex;
    justify-content: space-between;
  }


.table-cell {
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 1px solid #dddd;
  
  }