.alinear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  flex-direction: row;
  background-color: #BF026D;
  height: 60px;
}

ion-title {
  text-align: center;
  font-weight: bold;
}



ion-card {
    background-color: #f9b5f8; 
    backdrop-filter: blur(5px); 
    box-shadow: none;
    border-radius: 10%;
    margin: 10%  auto;
    width: 90%; 
    position: relative;
  }

  /*ion-card div.imagen-container {
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;

  }

  .imagen-container {
    display:block;
    margin-top: 30px;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #BF026D;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  }*/

  .imagen-container {
    margin-top: 30px;
    text-align: center;
  }

  .imagen-capturada {
    display: inline-block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;   
    
  }

  .rounded-list {
    margin-top: 30px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid hsl(327, 59%, 77%);
    
}
  
.custom-list {
    --background: hsl(327, 59%, 77%);
    color: black;
} 

.label-titulo {
  color: black;
  font-weight: bold;
  font-size: medium;
}

.button-container {
  text-transform: uppercase;
  color: white;
  --border-color: white;
  //margin-top: 70px;
  //margin-bottom: 5px;
  width: 70%; 
  display: block;
  margin: 20px auto 0 auto;
  //justify-content: center;
  //align-items: center;
    

}

 ion-card ion-button {
    position: absolute;
    --background: black; 
    color: white;
    top: 10px;
    left: 50%; 
    transform: translateX(-50%);
    z-index: 10;
  }

ion-card ion-card-title {
    top: 50px;
}

ion-card ion-card-content {
    top: 50px;
}

ion-card p {
    
    background-color: #f9b5f8; 
    color: black;
    left: 60%;
}  