
<ion-content [fullscreen]="true"> 

  <ion-header class="alinear">  
    <app-boton-retroceso></app-boton-retroceso>         
    <ion-title>Mis Lecturas</ion-title>           
  </ion-header>


  <div class="table-container"> 
    
    <ion-button routerLink="/catalogo" expand="block" fill="outline" shape="round" class="button-container">
      <ion-icon slot="start" name="library"></ion-icon>
      Ir al Catálago
    </ion-button>   


    <!--LISTA-->
    <div class="list-content">
    <ion-list style="background-color: hsl(327, 59%, 77%);" class="rounded-list">    

      <ion-item *ngFor="let libro of libros" class="custom-list">
        <ng-container *ngIf="getTituloLibro(libro.id_libro) as datosLibro">

          <ion-thumbnail slot="start" style="width: 80px; height: 100px; border-radius: 10px;">
            <img [src]= "datosLibro.imagen" sytle="border-radius: 20px;">
          </ion-thumbnail>

          <ion-label>
            <h2 style="font-size: 15px; font-weight: bold;">{{ datosLibro.titulo }}</h2>
            <p style="font-size: 10px;">Autor: {{ datosLibro.autor }}</p>           
          </ion-label>
          <ion-icon name="trash" color="dark" (click)="eliminarLibroUsuario(libro.id)"></ion-icon>
          
        </ng-container>
      </ion-item>

     
    </ion-list>
    </div>
  
      
  </div>
</ion-content>
