.alinear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  flex-direction: row;
  background-color: #BF026D;
  height: 60px;
}

ion-title {
  text-align: center;
  font-weight: bold;
}


.button-container {
  text-transform: uppercase;
  color: white;
  --border-color: white;
  //margin-top: 70px;
  //margin-bottom: 5px;
  width: 70%; 
  display: block;
  margin: 20px auto 0 auto;
  //justify-content: center;
  //align-items: center;
    

}


.list-content {    
  margin: 5% auto; //auto
  width: 80%; 
  border-radius: 15px;
}

.rounded-list {
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid hsl(327, 59%, 77%);
}

.custom-list {
  --background: hsl(327, 59%, 77%);
  color: black;
}



.table-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
  }
  
  .table-row {
    display: flex;
    justify-content: space-between;
  }
  
  .table-cell {
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 1px solid #dddd;
  
  }