.titulo {
  font-family: 'Franklin Gothic Medium';
  color:white;  
  display: flex;
  justify-content: center;
}

.alinear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  flex-direction: row;
  background-color: #BF026D;
  height: 60px;
}

ion-title {
  text-align: center;
  font-weight: bold;
}

ion-card {
  background-color: #f9b5f8; 
  backdrop-filter: blur(5px); 
  box-shadow: none;
  border-radius: 10%;
  margin: 10%  auto;
  width: 90%;   
}

.scale-card {
  transition: transform 0.3s ease;
}

.scale-card:hover {
  transform: scale(1.1);
}

ion-card ion-input {
  --background: transparent; 
  color: black; 
}

ion-card input {
  background-color: transparent; 
  color: black; 
}

ion-card ion-label {
  --background: #f9b5f8; 
  color: black; 
}

ion-card label {
  background-color: #f9b5f8; 
  color: black;   
}

ion-card ion-item {
  --background: #f9b5f8; 
  color: black; 
}

ion-card ion-button.registro-button {
  --background: black; 
  color: white; 
}




